a{
  color: #000;
  text-decoration: none;
}

li{
  list-style: none;
  text-decoration: none;
}

input,button{
  outline: none;
  border: none;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button{
  background: transparent;
}

nav{
  display: flex;
  padding: 20px 24px;
  margin: 0 auto;
  max-width: 1440px;
  background: #fff;
  width: 100%;
  position: sticky;
  z-index: 40;
  top: 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 4px -1px #00000017;
}


.navlinks{
  display: none;
  gap: 3rem;
  height: 100%;
}

.links{
  font-size: 16px;
  font-weight: 400;
}

.links:hover{
  font-weight: 700;
}

.login-contr{
  display: none;
}

.login-btn{
  display: none;
  background: #292c27;
  padding: 1rem 2rem;
  gap: 12px;
  border-radius: 28px;
  border-width: 1px;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  color: #f9f9f9;
}

.login-btn>img{
  color: transparent;
  cursor: pointer;
}



.h-login-btn{
  align-items: center;
  background: #fff;
  padding: 1rem 2rem;
  gap: 12px;
  border-radius: 28px;
  border-width: 1px;
}

.h-login-btn>span a {
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  color: #292c27;
}


.herosection{
  display: flex;
  padding: 20px 24px 128px;
  gap: 5rem;
  max-width: 1440px;
  margin: 0 auto;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

.hero-map {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/pattern-bg.webp);
  background-size: cover;
  background-position: 50%;
}

.hero-cont{
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  z-index: 20;
  position: relative;
}

.hero-cont>img{
  position: absolute;
  top: -30px;
  left: -5px;
}

.hero-cont>h1{
  font-size: 54px;
}

.hero-cont>p{
 font-weight: 400;
 font-size: 16px;
 color: #7b7b7b;
 margin-top: 1.5rem;
}

.rating{
  gap: 20px;
  flex-wrap: wrap;
  display: flex;
  margin: 44px 0;
}

.rating-star{
  display: flex;
  align-items: center;
  gap: 8px;
}

.rating>p{
  font-size: 16px;
  font-weight: 700;
  color: #021639;
}

.rating>p>span {
  font-size: 16px;
  font-weight: 400;
}

.bt-contr{
  display: flex;
  width: 100%;
  gap: 12px;
  flex-direction: column;
}

.bt-contr button{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 32px;
  border-radius: 28px;
  border-width: 1px;
}

.download-btn{
  color: #ffffff;
  border-color: #30af5b;
  background: #30af5b;
}



.play-btn{
  color: #141414;
  gap: 12px;
  border-color: #f9f9f9;
  background: #f9f9f9;
}

.play-btn span, .download-btn span{
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.location{
  position: relative;
  display: flex;
  align-items: flex-start;
  flex: 1 1 0%;
}

.location-container{
  display: flex;
  position: relative;
  z-index: 20;
  padding: 32px 28px;
  background: #292c27;
  border-radius: 24px;
  gap: 2rem;
  flex-direction: column;
  width: 268px;
}

.show-location, .distance, .elevation{
  display: flex;
  flex-direction: column;

}

.lt, .topography{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lt>p, .d, .e{
  font-size: 16px;
  font-weight: 400;
  color: #a2a2a2;
}

.show-location>p, .m, .k{
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  line-height: 32px;
}


.hidden{
  display: flex;
}

.h-navlinks{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #141414;
  left: auto;
  top: 0px;
  right: 0px;
  padding: 20px 24px;
  width: 320px;
  height: 100vh;
  z-index: 80;
}

.h-nav{
  display: flex;
}

.nav-t{
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.cover-bg{
  display: flex;
  width: 100%;
  height: 100vh;
  background: #000000cc;
  position: fixed;
  z-index: 30;
  left: 0;
  top: 71px;
}

.h-links{
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  z-index: 40;
}

.h-links:hover{
  font-weight: 700;
}

.show{
  display: flex;
}

.menu{
  display: flex;
}



section {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  flex-direction: column;
}

.container {
  width: 340px;
  border: 1px solid #d1d1d1;
  display: block;
  border-radius: 8px;
}

.sign-up {
  text-align: center;
  padding: 40px 0px;
}

.sign-up h1 {
  font-size: 40px;
}
.e-mail,
.password,
.btn,
.pass-forgot,
.enter-epu,
.fullname,
.username {
  display: flex;
  justify-content: center;
}

.e-mail input::placeholder,
.password input::placeholder,
.pass-forgot::placeholder,
.fullname input::placeholder,
.username input::placeholder {
  font-size: 12px;
  font-weight: 400;
}

.e-mail input,
.password input,
.enter-epu input,
.fullname input,
.username input {
  border: 1px solid #a09f9f;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  margin-top: 6px;
  width: 264px;
  background: #a6a5a51a;
}

.btn a, .sign-btn{
  border-radius: 12px;
  margin-top: 16px;
  padding: 8px 110px;
  background: #30af5b;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}



.btn a:hover, .sign-btn a{
  background: #30af5acc;
}

.pass-forgot {
  margin-top: 20px;
  margin-bottom: 20px;
}

.enter-epu {
  display: flex;
  margin-top: 10px;
}

.enter-epu input {
  padding: 10px 10px 10px 10px;
}

.enter-epu input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.code-btn button a{
  padding: 8px 86px;
}

.reset {
  text-align: center;
  padding: 40px 0px;
}

.reset h1 {
  font-size: 20px;
}

.statement {
  font-size: 14px;
}

.statement p,
.OR,
.create-acc,
.to-login {
  text-align: center;
}

.OR {
  margin-top: 40px;
}

.OR span {
  font-weight: 600;
  font-size: 14px;
}

.create-acc {
  margin-top: 20px;
}

.create-acc span {
  font-size: 14px;
  font-weight: 600;
}

.to-login {
  margin-top: 68px;
  border: 1px solid #d1d1d1;
  padding: 12px 0px;
}

.to-login span {
  font-size: 14px;
  font-weight: 600;
}

.sign-btn{
  padding: 8px 108px !important;
  margin: 34px !important;
}

.login-box  {
  width: 340px;
  border: 1px solid #d1d1d1;
  display: block;
  border-radius: 8px;
  text-align: center;
  margin-top: 10px;
  padding: 20px 0px;
}

.login-box span {
  font-size: 14px;
}

.login-box span span a {
  color: #30af5b;
  font-weight: 500;
}

.login-card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.login-image{
  margin-top: 36px;
}





@media (min-width: 1024px){

  .h-nav{
    display: none;
  }

  .h-navlinks{
    display: none;
  }

  nav{
    padding-left: 80px;
    padding-right: 80px;
  }

  .navlinks {
    display: flex;
  }

  .links{
    display: flex;
    align-items: center;
  }

  .menu{
    display: none;
  }
   
  .login-contr {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .herosection{
    padding: 5rem;
    gap: 7rem;
  }

  .hero-cont h1{
    font-weight: 700;
    line-height: 120%;
    font-size: 88px;
  }

  .rating>p{
    font-size: 20px;
    font-weight: 700;
  }

  .rating>p>span{
    font-size: 20px;
    font-weight: 400;
  }

}




@media (min-width: 768px){
  .hero-map {
    right: -7rem;
  }
}

@media (min-width: 640px) {
  .bt-contr{
    flex-direction: row;
  }
}